body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgb(103, 158, 143);
  color: white; 
}

h1 {
  font-family: 'e Espresso Caramel', sans-serif;
  text-align: center;
  margin: 60px;
  color: yellow;
}

p{
  font-family: 'e Espresso Caramel', sans-serif;
  font-size: xx-large;
                                                
}

button {
  padding: 10px;
  border-radius: 10px;
  border: grey;
}

button:hover {background-color: Aliceblue}

#startBtn {
  width:200px;
  color:rgb(11, 59, 59);
  background: greenyellow;
}

#stopBtn {
  width:200px;
  color:rgb(41, 175, 74);
}

#gameButtonArea {
  margin: 8px;
}

#gameButtonArea > button {
  width:190px;
  height:190px;
  margin:8px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button1:active, #button1.lit {
    background:green;
}

#button2 {
    background: lightblue;
}

#button2:active, #button2.lit {
    background:blue;
}

#button3 {
    background: pink;
}

#button3:active, #button3.lit{
    background:red;
}

#button4 {
    background: lightyellow;
}

#button4:active, #button4.lit {
    background:yellow;
}

#button5 {
    background: Burlywood;
}

#button5:active, #button5.lit {
    background: Chocolate;
}

#button6 {
    background: white;
}

#button6:active, #button6.lit {
    background: black;
}